/* font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive; */
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL9LuaJ4B71_eZEoEjiFZFLxDdHDBzmvbif69KThkvmVXUqPoi");
    object-fit: fill;
    height: 1vh;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #12CBC4;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
}
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    opacity: .8;
}
h3, p, a {
    font-family: 'Rock Salt', cursive;
    opacity: .8;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.player {
    color:#ED4C67;
    font-size: 4rem;
    margin-top: 6rem;
}
.score, .resetBtn {
    color: #12CBC4;
    font-size: 1.5rem;
}
section {
     margin: 0 2rem;
}
#gameboard {
    margin: 0 .5rem 3rem;
    display: grid;
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 175px 175px 175px;
    align-self: center;
    /* grid-gap: .25rem; */
}
.box {
    height: 8rem;
    width: 8rem;
    border-radius: 5%;
    border: .75rem #0652DD solid;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    color: #C4E538;
    opacity: .8;
    line-height: 1.3;
}
