/* font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive; */
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL9LuaJ4B71_eZEoEjiFZFLxDdHDBzmvbif69KThkvmVXUqPoi");
    object-fit: fill;
    height: 1vh;
}
header, footer, #gameOver {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
}
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    opacity: .85;
}
h3, p, a {
    font-family: 'Rock Salt', cursive;
    opacity: .85;
    color: #d1d8e0;
}
p {
    font-size: 1.75rem;
}
.title {
    color: #12CBC4;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    text-align: center;
}
.resetBtn {
    color: #fff200;
    font-size: 4rem;
    margin: 0px .75rem;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}
.player {
    color:#ED4C67;
    font-size: 4rem;
    margin-top: 6rem;
}
.score {
    color: #26de81;
    font-size: 2rem;
}

section {
     margin: 0 3rem;
}
#gameboard {
    margin: 1rem;
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    align-items: center;
    justify-items: center;
    grid-gap: .5rem;
}
.box {
    height: 6rem;
    width: 6rem;
    border-radius: 5%;
    border: .75rem #0652DD solid;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    color: #C4E538;
    opacity: .8;
    line-height: 1;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
  }
  .xStyle {
    color:#a55eea;
  }
  .oStyle {
    color: #fa8231;
  }

  .overlayMsg {
    font-size: 5rem;
    transform: rotate(345deg);
    margin: 11rem 0px 6rem;
  }
  #tieMsg {
    color: #a5b1c2;
    font-size: 10rem;
  }
  #winMsg {
    color: #fa8231;
  }