/* font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive; */

/* ----------------- SETTING THE VIEWPORT ---------------- */
@viewport {
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport {
    width: device-width;
}

/* ----------------- RESPONSIVE IMAGES ---------------- */
img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL9LuaJ4B71_eZEoEjiFZFLxDdHDBzmvbif69KThkvmVXUqPoi");
    object-fit: fill;
    height: 1vh;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .02em;
}
header, #gameOver {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    text-align: center;
}
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    opacity: .85;
}
h3, p, a {
    font-family: 'Rock Salt', cursive;
    opacity: .85;
    color: #d1d8e0;
}
p {
    font-size: 1.75rem;
}
.title, .score {
    color: #12CBC4;
}
#scoreBoard, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.reset {
    color: #fff200;
    font-size: 3rem;
    margin: 0px .75rem;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}
.player {
    font-size: 4rem;
}
/* .score {
    font-size: 2rem;
} */
section {
     margin: 0 3rem;
}
.game {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#gameboard {
    margin: 1rem;
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    align-items: center;
    justify-items: center;
    grid-gap: .5rem;
}
.box {
    height: 6rem;
    width: 6rem;
    border-radius: 5%;
    border: .75rem #0652DD solid;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    /* color: #2bcbba; */
    opacity: .65;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
  }
  .xStyle, .X {
    color:#a55eea;
  }
  .oStyle, .O {
    color: #26de81;
  }

  .overlayMsg {
    font-size: 5rem;
    transform: rotate(345deg);
    margin: 15rem 0px 6rem;
    line-height:.8;
  }
  #tieMsg {
    color: #a5b1c2;
    font-size: 10rem;
  }



  /* // Small devices (landscape phones, 576px and up) */


/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    body, .game {
        flex-direction: column;
    }
    section {
        align-content: center;
        justify-items:center;
    }
    .title {
        font-size: 4rem;
    }
    .player {
        margin: 0;
        font-size:2rem;
        line-height: .95;
    }
    .score {
        font-size: 1rem;
    }
    .overlayMsg, #tieMsg {
        font-size: 3.5rem;
        margin-top: 15rem;
    }
    .reset {
        font-size: 1.75rem;
        line-height: .95;
    }
    p {
        font-size: .75rem;
    }
 }

/* @media only screen and (max-width: 600px) {
    body, footer, .game {
        flex-direction: column;
    }
} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
